body {
    background-color: #1e1f23;
    display: flex;
    justify-content: center;
}

label, p, h1, h2, h3, h4, h5, h6, div {
    font-family: Futura, sans-serif;
    color: white;

    padding: 8px;
}

.gradeBox {
    padding: 5px
}

details {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gradeBox {
    background-color: #2f3137;
    border-radius: 8px;
    margin: 8px;
}

input {
    font-family: Futura, sans-serif;
    color: black;
}

input::placeholder {
    color: darkgray;
}
