body {
    background-color: #1e1f23;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;

    font-size: 2.5vh;
}


label, p, h1, h2, h3, h4, h5, h6, div, a {
    font-family: Futura, sans-serif;
    color: white;

    padding: 8px;
}

#majorContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gradeBox {
    padding: 8px;
    width: fit-content;
    background-color: #2f3137;
    border-radius: 8px;
    margin: 8px;
}

details {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

summary {
    padding: 4px;
}

input {
    font-family: Futura, sans-serif;
    color: black;
    font-size: 2.5vh;
}

input::placeholder {
    color: darkgray;
}

#tutorialLink {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #56A9B6;
}

